<html>
<head>
    <title>Greedy Snake</title>
    <script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="script.js"></script>
    <link rel="stylesheet" type="text/css" href="style.css">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</head>
<body>
	<div class="container-fluid">
		<header>
		</header>
    <div class="row">
      <div class="col-md-8">
        <table id='chessBoard' cellpadding="0" cellspacing="0">
        </table>
        <div class="row">
          <div id="borderPanel">
            <table class="table" id="statusTable">
              <tr id="setUserNameRow">
                <td id="setName">
                  <input id="userNameText" type="text"
                    class="form-control" placeholder="Input Username">
                </td>
                <td>
                  <button id="setUserNameBtn" type="button"
                    class="btn btn-default pull-right">SetUserName</button>
                </td>
              </tr>
              <tr id="userNameRow">
                <td>Username:</td>
                <td id="username"></td>
              </tr>
              <tr id="lengthRow">
                <td>Length:</td>
                <td id="snakeLength"></td>
              </tr>
              <tr id="yourSnake">
                <td>Your Snake:</td>
                <td id="snakeColor">
               </td>
             </tr>
            </table>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="row">
          <h3>LeaderBoard:</h3>
          <div id="borderPanel">
            <table class="table" id="LeaderBoardTable">
              <tr>
                <td>No.</td>
                <td>Username</td>
                <td>Length</td>
              </tr>
              <tr id="no1">
                <td>#1</td>
                <td id="no1username"></td>
                <td id="no1length"></td>
              </tr>
              <tr id="no2">
                <td>#2</td>
                <td id="no2username"></td>
                <td id="no2length"></td>
              </tr>
              <tr id="no3">
                <td>#3</td>
                <td id="no3username"></td>
                <td id="no3length"></td>
              </tr>
            </table>
          </div>
        </div>
        <div class="row">
          <h3>Chat Room:</h3>
          <div class="pre-panel panel-default">
            <div id="chatroom" class="panel-body">
            </div>
          </div>
          <form id="sendMsgRow" class="form-inline">
            <input id="msgText" type="text" class="form-control" placeholder="text 'play' to start">
            <button id="sendMsgBtn" type="button" class="btn btn-default">Send</button>
          </form>
        </div>
      </div>
    </div>
		<div id='status'></div>
	</div>
</body>
</html>
